<html>
<head>
	<title>Online todo list</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<p>
		<form action="/add_item" method="POST">
			<input type="text" name="task" placeholder="Enter a task"/>
			<input type="text" name="delay" placeholder="Due in # days"/>
			<input type="submit" value="Add Task" class="submit_button"/>
		</form>
	</p>
	<p>
		<h2>Open tasks, sorted by urgency and due date</h2>
	</p>
	<table>
		<tr>
			<th>Added</th>
			<th>Due</th>
			<th>Task</th>
			<th>Prio</th>
			<th>Done</th>
			<th> </th>
		</tr>
<% 		@sortedItems.each do |obj| %>
			<tr>
				<td><%= obj[:added] %> </td>
				<td><%= obj[:due]   %> </td>
				<td><%= obj[:task]  %> </td>
				<td><%= obj[:prio]  %> </td>
				<td><%= obj[:done]  %> </td>
				<td>
					<form action='/del_item' method='POST'>		 	
<%=						"<input type='hidden' value='#{obj[:done]}' name='done'>" 			%>
<%=						"<input type='hidden' value='#{obj[:id]}'   name='id'>" 			%>
<%=						"<input type='submit' value='#{obj[:done]==:true ? :Delete : :Done!}' class='submit_button'/>" 	%>
					</form>
				</td>
			</tr>
<%  	end %>

	</table>

</body>
</html>




